<div class="container">
  <app-card *ngFor="let cade of sorted" [card]="cade"> </app-card>
  <form>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" #firstname>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" #lastname>
    </div>
    <button type="button" class="btn btn-primary"(click)="onclick(firstname,lastname)">Submit</button>
  </form>
  <ol>
    <li *ngFor="let card of cards">{{card.firstname}}{{card.lastname}}</li>
  </ol>
</div>